* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  background: #fff1d0;
  background-image:url('../images/hotel.jpg');
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 75;  
}
nav {
  display: flex;
  justify-content: space-between;
  background: #d0deff;
  align-items: center;
  padding-top:5px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 55px;
  height: 50px;
  text-align: center;
  }
.cost{
  margin-left: auto;
  padding-bottom: 0;
}
div{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #d0deff;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}
.hidden{
  display: none
}
h2{
  margin-bottom: 10px;
  margin-top: 10px;
}

div.grid{
  display: table;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: #d0deff;
  margin-left: 217px;
  margin-right: 217px;
  padding-bottom: 20px;
  padding-top: 5px;
  align-content: space-between;
}
h5{
  padding-left: 25px;
  padding-right: 75px;
}
div.dashboard{
  justify-content: center;
}
div.back{
  padding-left: 25%;
  padding-right:25%;
}
section{
  display: flex;
  flex-direction: column;
}
ul{
  margin-top: 0;
  display: table-row; 
  background-color: #d0deff;
  text-align: justify;
  padding-bottom: 1%;
  margin-left: 11%;
  margin-right: 25%;
  width: 60%;
  align-items: center;
  align-content: center;
  padding-left: 0px;
  margin-left: 245px;
  margin-right: 245px;
}
div.back,
section {
  display: flex;
  justify-content: center;
}
tr {
  display:flex;
  justify-content: space-between;
  border: 1px solid black;
}
div.button{
  margin-left: 217px;
  margin-right: 217px;
}
div.room-options{
  display: flex;
  flex-direction: row;
}
a:hover{
  text-decoration: underline;
}
a{
  color: blue;
}
.results{
  position: relative;
}
#room-list{
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}
